/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* css reset akhir */

:root {
    --clbiru: rgb(13, 17, 243);
    --clbirutua: rgb(5, 8, 163);
    --clpeach: rgb(255, 203, 203);
    --clpink: rgb(255, 177, 177);
    --clpinkwhite: rgb(255, 234, 227);
    --clbgbiru: rgba(191, 219, 243, 0.5);
    --clwhite: rgb(255, 255, 255);
    --clfontdefault: rgb(0, 0, 0);

}

body {
    width: 100%;
}

/* nav  */
nav {
    position: sticky;
    top: 20px;
    z-index: 999;
    margin: auto;
    width: 70%;
    height: 50px;
    border-radius: 25px;
    display: flex;
    overflow: hidden;
    padding: 5px 20px;
    color: rgb(196, 198, 199);
    background-color: var(--clbiruwhite);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

nav a {
    display: inline-block;
    width: 50px;
}

nav a img {
    width: 150px;
}

ul {
    margin: auto;
    display: flex;
    height: 100%;
}

ul li a {
    width: 100px;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    line-height: 40px;
    color: var(--clbiru);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

ul li a:hover {
    color: var(--clbirutua);
    font-weight: 550;
}

nav a:nth-of-type(2) {
    background-color: var(--clbiru);
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: var(--clwhite);
    font-family: Arial, Helvetica, sans-serif;
}

nav a:nth-of-type(2):hover {
    background-color: var(--clbirutua);
}

/* nav akkhir */

/* page1 */
.page1 {
    padding: 0;
    margin: auto;
    width: 90%;
    height: 100vh;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
}

.pg1 {
    flex-grow: 2;
    flex-basis: 0;
    box-sizing: border-box;
    padding-left: 10px 0 5px 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.pg1 .btn {
    margin: 20px o;
    background-color: var(--clbiru);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 10px;
    color: var(--clwhite);
    text-decoration: none;
    width: 250px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    transition: background-color 0.3s ease;
}

.pg1 .btn:hover {
    background-color: var(--clpinkwhite);
    color: var(--clbiru);
}

.pg1 .btn img {
    width: 50px;
    height: 30px;
    transition: transform 0.3s ease;
}

.pg1 .btn img:hover {
    transform: translateX(10px);
    /* animasi ikon arrow right */
}

.pg2 {
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 30px 0 0 0;
}


/* page 1 akhir */

/* media query css mobile */
/* Perangkat mobile kecil */
@media (max-width: 480px) {
    .pg2{
        padding: 0;
    }
  }
  
  /* Smartphone modern */
  @media (min-width: 481px) and (max-width: 767px) {
    .pg2{
        padding: 0;
    }
  }
  
  /* Tablet kecil */
  @media (min-width: 768px) and (max-width: 1024px) {
    .pg2{
        padding: ;
    }
  }
  /* media query css mobile akhir */
